@model List<AITech.WebUI.DTOs.AboutDtos.ResultAboutDto>

<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            @if (Model != null && Model.Any())
            {
                var about = Model.FirstOrDefault();
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="about-img">
                        <img class="img-fluid" src="@about.ImageUrl" alt="@about.Title">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">About Us</div>
                    <h1 class="mb-4">@about.Title</h1>
                    <p class="mb-4">@about.Description</p>
                    
                    @* About Items - Dynamic Checkmarks *@
                    @if (ViewBag.AboutItems != null && ((List<AITech.WebUI.DTOs.AboutItemDtos.ResultAboutItemDto>)ViewBag.AboutItems).Any())
                    {
                        <div class="row g-3">
                            @{
                                var aboutItems = (List<AITech.WebUI.DTOs.AboutItemDtos.ResultAboutItemDto>)ViewBag.AboutItems;
                                var halfCount = (int)Math.Ceiling(aboutItems.Count / 2.0);
                            }
                            <div class="col-sm-6">
                                @for (int i = 0; i < halfCount && i < aboutItems.Count; i++)
                                {
                                    <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>@aboutItems[i].Title</h6>
                                }
                            </div>
                            <div class="col-sm-6">
                                @for (int i = halfCount; i < aboutItems.Count; i++)
                                {
                                    <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>@aboutItems[i].Title</h6>
                                }
                            </div>
                        </div>
                    }
                    else
                    {
                        @* Default items if no AboutItems in database *@
                        <div class="row g-3">
                            <div class="col-sm-6">
                                <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>Award Winning</h6>
                                <h6 class="mb-0"><i class="fa fa-check text-primary me-2"></i>Professional Staff</h6>
                            </div>
                            <div class="col-sm-6">
                                <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>24/7 Support</h6>
                                <h6 class="mb-0"><i class="fa fa-check text-primary me-2"></i>Fair Prices</h6>
                            </div>
                        </div>
                    }

                    @* Read More Button and Social Media Icons *@
                    <div class="d-flex align-items-center mt-4">
                        <a class="btn btn-primary rounded-pill px-4 me-3" href="">Read More</a>
                        
                        @* Social Media Icons - Dynamic *@
                        @if (ViewBag.Socials != null && ((List<AITech.WebUI.DTOs.SocialDtos.ResultSocialDto>)ViewBag.Socials).Any())
                        {
                            var socials = (List<AITech.WebUI.DTOs.SocialDtos.ResultSocialDto>)ViewBag.Socials;
                            @foreach (var social in socials)
                            {
                                <a class="btn btn-outline-primary btn-square me-3" href="@social.Url" target="_blank" title="@social.Name">
                                    <i class="@social.Icon"></i>
                                </a>
                            }
                        }
                        else
                        {
                            @* Default social icons if no Socials in database *@
                            <a class="btn btn-outline-primary btn-square me-3" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-primary btn-square me-3" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-primary btn-square me-3" href=""><i class="fab fa-instagram"></i></a>
                            <a class="btn btn-outline-primary btn-square" href=""><i class="fab fa-linkedin-in"></i></a>
                        }
                    </div>
                </div>
            }
            else
            {
                <div class="col-12 text-center">
                    <p>No about information available.</p>
                </div>
            }
        </div>
    </div>
</div>
<!-- About End -->
